BizTalk 2013 Recipes/Chapter 6/6.7/SQLService.xsd

<?xml version="1.0"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://SQLAdapterStoredProcedure" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:annotation>
    <xs:appinfo>
      <msbtssql:sqlScript value="exec [BizTalkToCustomerInsert] @Address=&quot; &quot;, @City=&quot; &quot;, @CustomerName=&quot; &quot;, @PostalCode=&quot; &quot;, @Region=&quot; &quot;" xmlns:msbtssql="http://schemas.microsoft.com/BizTalk/2003" />
    </xs:appinfo>
  </xs:annotation>
  <xs:element name="Customer_Request">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="BizTalkToCustomerInsert">
          <xs:complexType>
            <xs:attribute name="Address" type="xs:string" />
            <xs:attribute name="City" type="xs:string" />
            <xs:attribute name="CustomerName" type="xs:string" />
            <xs:attribute name="PostalCode" type="xs:string" />
            <xs:attribute name="Region" type="xs:string" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Customer_Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Success" type="xs:anyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>